{
    "env": {
        "browser": true
    },
    "extends": "airbnb-base",
    "parserOptions": {
      "ecmaVersion": 2020
    },
    "rules": {
        "func-names": ["error", "always", { "generators": "never" }],
        "indent": ["error", 4],
        "import/extensions": 0,
        "linebreak-style": 0,
        "no-continue": 0,
        "no-new": 0,
        "no-param-reassign": ["error", { "props": false }],
        "yoda": ["error", "never", { "exceptRange": true }],
        // To fix
        "no-extend-native": 0, // Should probably fix this
        "no-restricted-syntax": 0 // Allow for of loops, should stop using them
    }
}
