html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Poppins;
}

*:focus {
    outline: none;
}

canvas {
    display: block;
}

select {
    /* Hide before load */
    visibility: hidden;
    margin: 5px;
}

label {
    /* Hide when not gerrymandering */
    visibility: hidden;
}

#stopButton {
    /* Hide when not gerrymandering */
    visibility: hidden;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 200px;
    height: 35px;
    font-size: 16px;
}

#stopButton:active {
    filter: brightness(0.9);
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    margin: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance:  none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
}
