html, body {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

canvas {
    display: block;
}

select {
    /* Hide before load */
    visibility: hidden;
    margin: 5px;
}

label {
    /* Hide when not gerrymandering */
    visibility: hidden;
    padding: 5px;
}

#stopButton {
    /* Hide when not gerrymandering */
    visibility: hidden;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 170px;
    height: 35px;
    font-size: 16px;
}

#stopButton:active {
    filter: brightness(0.9);
}
